<!-- your html code here -->


<div class="container">

<div class="heading1">
    <h3>
    The First  Heading 
  <small class="text-muted">will catch Your Eye</small>
</h3>
<p class="text-justify">loreipsum dolor sit amet consectetur adipisicing elit. 
Rem dolores nam, eveniet quam 
impedit delectus molestiae a optio. Dicta fugiat aut aliquam 
sint ducimus earum suscipit fugit! Consequuntur, in a.</p>
</div>

<div class="imagen">
<img src="./assets/img/1.jpg" class="rounded float-right"  style="width: 30%; border-radius: 100%;" >
</div>


</div>



<div class="heading2">
    <h3>
    The Second  Heading 
  <small class="text-muted">is Pretty to Cool Too</small>
</h3>
<p>loreipsum dolor sit amet consectetur adipisicing elit. 
Rem dolores nam, eveniet quam 
impedit delectus molestiae a optio. Dicta fugiat aut aliquam 
sint ducimus earum suscipit fugit! Consequuntur, in a.</p>
</div>

<div class="imagen">
<img src="./assets/img/2.jpg" class="rounded float-left" alt="...">
</div>




