<!-- your html code here -->
<hr>
<div class="porfolio" style="padding: 10%;">
    <div class="row">
        <H1>Porfolio</H1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis blanditiis tenetur nostrum dolorem consequatur
            maxime
            accusantium non animi, sapiente incidunt odio perspiciatis nam ea repellat natus velit, totam ad aut.</p>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                    src="./assets/img/big-project-image.png">
                <div class="card-body">
                    <h5 class="card-title" style="color:hsl(212, 65%, 55%)">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro temporibus quas
                        maxime</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                    src="./assets/img/big-project-image.png">
                <div class="card-body">
                    <h5 class="card-title" style="color:hsl(212, 65%, 55%)">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro temporibus quas
                        maxime</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                    src="./assets/img/big-project-image.png">
                <div class="card-body">
                    <h5 class="card-title" style="color:hsl(212, 65%, 55%)">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro temporibus quas
                        maxime</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>