<!-- your html code here -->
 <style>
     .d-flex{
         padding: 100px;
        text-align:unset=left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: left;
     }

     h3{
         font-size: 50px;
     }
 </style>
<div class="d-flex"> 
    <img src="./assets/img/2.jpg" style="border-radius: 160px;" width="300px" height="300px">
  <div>
<h3>
    The First  Heading 
  <small class="text-muted">will catch Your Eye</small>
</h3>
<p>dolor sit amet consectetur adipisicing elit. Rem dolores nam, eveniet quam impedit 
delectus molestiae a optio. Dicta fugiat aut aliquam sint ducimus earum suscipit fugit! Consequuntur, in a.</p>
  </div>

</div>
